# Prerequisites
*.d

# Compiled Object Data
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module Data
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Exercise-related
*megaphone
*FMN-PhoneBook
*test-GBU
*_shrubbery

# VS Code
.vscode
*/*.vscode

# Misc
*.json
.cache
.xml
forbidden*
vgcore.*
